## Welcome to Coding challenge 4
**Kamu hanya diminta untuk menyelesaikan 2 pertanyaan**

### Question 1.
### "Shifting Members of an Array"

Pada pertanyaan ini, kita ingin menggeser array ke kanan. seberapa banyak?
Tergantung dari input

##### Example 1:
array = [1,2,3,4,5]
steps = 3

Kita harus menggeser array 3 langkah ke kanan.
- Original array = [1,2,3,4,5]
- Step 1 = [5,1,2,3,4]
- Step 2 = [4,5,1,2,3]
- Step 3 = [3,4,5,1,2]

Answer = [3,4,5,1,2]

##### Example 2:
array = [1,2,3]
steps = 5

Kita harus menggeser array 3 langkah ke kanan.

- Original array = [1,2,3]
- Step 1 = [3,1,2]
- Step 2 = [2,3,1]
- Step 3 = [1,2,3]
- Step 4 = [3,1,2]
- Step 5 = [2,3,1]

Answer = [2,3,1]

In [1]:
### Write your function here ###
def shift(array, steps):
    steps = steps % len(array)
    shifted_array = array[-steps:] + array[:-steps]

    return shifted_array

In [2]:
shift([1,2,3,4,5],4)

# Expected Output: [2, 3, 4, 5, 1]

[2, 3, 4, 5, 1]

In [3]:
shift(['andi', 'budi', 'charlie', 'doni'],7)

# Expected Output: ['budi', 'charlie', 'doni', 'andi']

['budi', 'charlie', 'doni', 'andi']

In [4]:
shift(['di', 'bim', 'bing', 123, 'data', 'science'],10)

# Expected Output: ['bing', 123, 'data', 'science', 'di', 'bim']

['bing', 123, 'data', 'science', 'di', 'bim']

### Question 2.
### "Segitiga Paskal"

Kita akan membuat segitiga paskal sebanyak n-baris. fungsi yang dibuat harus bernama ```pascal```. Apabila belum mengetahui apa itu segitiga paskal, silahkan lihat video:https://www.youtube.com/watch?v=1D3KsvfB8b0 dan baca https://www.mathsisfun.com/pascals-triangle.html

##### Example 1:
Input = 4,

Answer = [1,4,6,4,1]

##### Example 2:
input = 3,

Answer = [1,3,3,1]

In [9]:
### Write your solution here ###
def pascal(n):
  return

In [ ]:
pascal(3)

NameError: ignored

### Question 3

### "Jarak maksimal antara 3 titik"

Terdapat 3 koordinat, tentukan jarak antar 2 titik mana yang memiliki jarak terjauh, dan berikan output jarak kedua titik tersebut. fungsi yang anda buat haurs bernama ```max_ditance```. titik koordinat pertama disebut 'A', titik kedua disebut'B', dan titik ketiga disebut 'C'

##### Example:
A = [1,2],
B = [10,-10],
C = [-3, 5]

- The distance between AB = 15
- The distance between BC = 19.8
- The distance between AC = 5.0

Answer = "The point B,C are furthest apart with distance 19.8"

In [11]:
### Write your solution here ###
import math

def calculate_distance(point1, point2):
    return math.sqrt((point1[0] - point2[0])**2 + (point1[1] - point2[1])**2)

def max_distance(A, B, C):
    distance_AB = calculate_distance(A, B)
    distance_BC = calculate_distance(B, C)
    distance_AC = calculate_distance(A, C)

    max_pair = max([(distance_AB, "A, B"), (distance_BC, "B, C"), (distance_AC, "A, C")], key=lambda x: x[0])

    return f"The points {max_pair[1]} are furthest apart with distance {max_pair[0]:.1f}"

In [17]:
A = [1, 2]
B = [10, -10]
C = [-3, 5]

result = max_distance(A, B, C)
result

'The points B, C are furthest apart with distance 19.8'